<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank"><h1>{{title}}</h1></a>
        <a href="{{post_url}}" target="_blank"><span>({{format_url post_url}})</span></a>
    </div>
    <div class="meta">
        Posted by {{user.username}} on {{format_date created_at}}

        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>