<article class="post">
    <div class="title">
        <a href="/dashboard/workout/{{id}}" target="_blank"><h1>{{workout_name}}</h1></a>
        <a href="{{workout_url}}" target="_blank"><span>({{format_url workout_url}})</span></a>
    </div>
    <div class="meta">
        Posted by {{user.username}} on {{format_date created_at}}

        {{comments.length}} {{format_plural "comment" comments.length}}
    </div>
</article>